
*{
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #CBD285;
    padding: 10px;
}

/********/


body {
    background-color:#FFF6F6;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    }
    div {
        font-weight: bolder;
        display: flex;
       
        text-align: center;
        }
        .style {
            background-color:#FFD6D6;
        }

        .style :first-child {
            background-color:#F7F39A;
        }
        .style :nth-child(2) {
            background-color:#10828C;
            }
        .style :last-child {
            background-color:#A0B08B;
            }
        