
*{
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #CBD285;
    padding: 10px;
}

/********/

#zoning1
{
    display: flex;
    flex-direction: column;
}
    .style1 :first-child {
    text-align: center;
    background-color:#FFD6D6;
    }
    .style1 :last-child {
    text-align: center;
    background-color:#F7F39A;
    }
    #gauche {
    display: flex;
    flex-direction: row;
    }
    .style2 :first-child {
    width: 20%;
    height: 900px;
    text-align: center;
    background-color: #10828C;
    }
    .style3 :last-child {
    width: 80%;
    height: 900px;
    text-align: center;
    background-color: #F7F39A;
    }
   

