body {

    background-color: lightgrey;
}

a   { 
    text-decoration: none; /* text_decoration : permet de changer la decoration du texte, avec la valeur none je désactive le surlignement */
    color: brown;
}

/* une pseudo classe est un mot clé préfixé par deux points, qui s'ajoute au selecteur pour appliquer un style à un élement dans un cas particulier */
a 

a : hover { /*: hove désigne un objet survolé par le curseur de la souris ca peut etre un lien ou n'importe quel élèment html */ 

    text-decoration: underline;
    COLOR : green;
    background-color    
    a:visited {  /* la pseudo classe ": visited designe un lien dont la page cibble a déjà été visitée */

     color: aqua;}
}
