body {

    background-color: black; /*la couleur de fond du corps de la page */
    text-align: center;

}

h1 {
    color : cadetblue; /* la couleur du texte des balises <h1> en cadetblue*/
    text-transform: uppercase; /* transforme le texte des balises en majuscules*/

}
h2 {

    color: antiquewhite;
    font-style: italic; /*doner un style italique au texte*/

}

img {


    width: 500px;  /*definit la largeur des images à 500 pixels */
    height: 500px; /* definit la largeur des images à 500 pixels */

    border-style: groove; /* cette propriété définit le style de la bordure atant solide*/
    border-width: 10px; /* definit la largeur de la bordure à 5px */
    border-color: azure;/*definit la couleur de la bordure comme azure*/ 

    /* il existe une syntaxe alternative pour définir le style, la largeur et la couleur de la bordure en une seule ligne*/

    border: groove 10px azure;
    border-radius: 5% 1% 2% 9%; /*arrondit les coins de l'image avec un rayon de 5% */
    margin-right: 50px; /* ajoute une marge à droite de l'image de 50px. cela crée de l'espace entre l'image et d'autres elements sur le cote droit*/

  
    /* 
        La propriété CSS margin est utilisée pour définir l'espace autour d'un élément. Elle contrôle l'espace entre les bords de l'élément et les éléments voisins. Elle peut prendre jusqu'à quatre valeurs  qui définissent l'espace autour de l'élément dans l'ordre suivant : haut, droite, bas, gauche.
        La sytaxe est =>  margin: top right bottom left;

        - margin: 10px;  marge de 10 pixels sur tous les côtés 
        - margin: 10px 20px; marge de 10 pixels en haut/bas, 20 pixels à gauche/droite 
        - margin: 10px 20px 30px; marge de 10 pixels en haut, 20 pixels à gauche/droite, 30 pixels en bas 
        - margin: 10px 20px 30px 40px; marge de 10 pixels en haut, 20 pixels à droite, 30 pixels en bas, 40 pixels à gauche 


    */
   

}

figcaption, p {

    color: aliceblue;
}

div {
    height:8000px;
    /*width: 2000px;*/
    background-image: url(../img/chien-Husky-assis-sur-herbe.jpg);/* definit l'image de fond */
    background-repeat: no-repeat; /* empeche la repetition de l'image de fond*/
    background-size: cover ; /* ajuster la taille de l'image de fond pour couvrir l'ensemble de l'élement*/
    background: url(../img/chien-Husky-assis-sur-herbe.jpg) no-repeat;
    padding: 50px; /*ajouter une marge interne(espace interieur de 50px à l'element */
    margin: 50px; /*ajouter une marge externe(espace exterieur de 50px à l'element*/
    
}
div p {


    background-color: rgba(5, 19, 21, .6) ;
    padding: 50px;
    border: radius: 30px;
}