/*****le css général *****/

*{

    box-sizing: border-box;
    text-decoration: none;
}
body
{
    background-color: #EEEDEB;
    text-align: center
}
a {

    font-weight: bold;
    background-color: #d9A9d9;
    border-radius: 10px;
}



/******* style pour le header ***********/

header {

    
    border: 2px solid #3C0753;
    padding: 20px;
}

h1 {

    text-transform: uppercase;
    color: #3C0753;
    font-size: 50px;

}

h1 a {    
    background-color:transparent;
   
}


nav a {
    color: #EEEDEB;
    width: 30%;
    display: inline-block;
    padding: 5px 0;
}
nav a:hover {
     background-color: #3C0753;
}
/* style pour le main */

main {

    margin-top: 10px;
    padding: 20px 50px;
    border: 2px solid #3C0753;
}

 main:first-child img  { /*pseudo class:first-child dessigne le premier élément enfant */
     border-radius: 50px;
}

main section:nth-child(2)  { /*pseudo class:nth-child dessigne le deuxieme élément enfant dans un element parent */
    background-image: url(../img/maik-jonietz-_yMciiStJyY-unsplash.jpg);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:#fff
}

main section:nth-child(2) article  {
    display: inline-block;
    border: solid 2px #3C0753;
    width: 33%;
    padding: 20px;
    background-color: black;
    text-align: left;

}
 /* style pour le footer */
 
 footer {
    margin-top: 20px;
    border: #3C0753 solid 2px;
}
footer ul  {
    display: inline-block;
    width: 30%;
    list-style: none;
    
}
footer ul li {
    margin-bottom: 20px;
}

footer a{
    color: #3C0753;
    padding: 8px 12px;
    border-radius: 3px;
}


    

