/* Feuille de style pour la page de flexbox */
p {

    font-size: 20px;
}

div {
    font-weight: bolder;
    border: 1px solid #333;
    text-align: center;
}
span {
    font-weight: bold;
    color: darkmagenta;
}
.style div{
    width: 200px;
    height: 150px;
    color: #FFF;
    line-height: 150px;  
   }
    /* line-height nous permet de définir l'espacement entre les lignes d'un paragraphe dans un élément */
    /* Dans le cas que l'on a qu'un seul mot dans u élément, on peut l'utiliser afin de le centrer sur l'axe vertical */
    .style :first-child {

    background-color: orange;
}
.styleA :nth-child(2){

    background-color: blue
}
.style :last-child{

    background-color:green
}
.style div{

    width: 200px;
    height: 150px;
    color: #FFF;
    line-height: 150px;
}
.style:first-child {

    background-color: orange;
}
.style :nth-child(2){

    background-color: blue
}
.style :last-child{

    background-color: green
}

/* B - ajout du flex */
#conteneurB :last-child{

    display: flex;
}
#conteneurC {
    display: flex;
    flex-direction: row;

}
#conteneurD {
    display: flex;
    flex-direction: column;
   }
#conteneurE {
    display: flex;
    flex-direction: row-reverse;
 }
 #conteneurF {
    display: flex;
    flex-direction: column-reverse;
 }